/*
 To include these colors, use the following string parameter: 
-stringparam html.css.extra path/to/c_programming/src/colors_dartmouth.css


There are five main choices that define a color scheme in the
 HTML output of PreTeXt:
 1) A dark color for the title on each page
 2) A dark color for highlighted words in the body
 3) A dark color for other highlighted words in the body
 In the CSS those are called 'documenttitle', 'bodytitle',
 and 'bodysubtitle'.
 The other two choices appear in the ToC.
 Either:
 4) A dark color for each chapter background
 5) A dark color for the current section background
 (Often the ToC section background equals documenttitle.
 Or:
 4') A light color for each chapter background
 5') A light color for the current section background
 In the CSS those are called 'chaptertoc' and 'sectiontoc',
 respectively.
 With 4) and 5) you need white letters to go on the dark
 background, and with 4') and 5') you need dark letters
 on the light background.  Set the color of those letters
 with 'chaptertoctext'.
 In addition to the above choices, you need to 
 choose a contrasting shade of each color, to be used
 for highlighting, borders, etc.
 In the future you will be able to choose colors for assemblages
 and for knowl output
*/

/*NEW METHOD TO SUPRESS MATLAB OUTPUT */
div[id$="-no-output"] .ac_output, .error{
  display: none !important;
}


/* 
OLD METHOD T0 SUPRESS MATLAB WINDOW OUTPUT:
#ac-hide .ac_output, #ac-hide .error{
    display: none !important
}
END OLD METHOD
*/

/*If id="ac-hide" is added to the division for the active code in PreTeXt HTML, 
the above CSS rule should block all output and error messages from those windows with the ID*/


/* To rename Run button:       
.run-button {
  visibility: hidden !important;
  position: relative !important;
}

.run-button:after {
  visibility: visible !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  content: "Save" !important;
}
*/

/*To block all output:   
.ac_output {
  display: none !important;
}

.alert-danger {
  display: none !important; 
}

*/

.ac_question {
  background-color: transparent !important;
} /*removes the random green background from activities*/

.runestone_caption {
    display: none !important;
} /*hides the captions under Runestone questions/windows*/

.ac_opt {
  display: none !important;
} /*hides the Show CodeLens button for ActiveCode windows*/

.CodeMirror {
  height: fit-content !important; 
  /*override their styles to make active code windows auto-size depending on content*/
}

.lines {
  display: table-cell !important;
} /*this fixes the table shapes so content fits correctly*/

:root {
  --documenttitle: #00693e;
  --bodytitle: #12312b;  /* often a darker version of documenttitle  */
  --bodysubtitle: #12312b;  /* can be the same as bodytitle  */
  --bodytitlehighlight: #e2e2e2;  /* light, and contrasting to bodytitle  */
  --bodysubtitlehighlight: #e2e2e2;  /* light, and contrasting to bodysubtitle  */
     /*
       The bodytitle and bodysubtitle colors must have at least a 3:1 contrast
       ratio with black, and at least 5:1 ratio with with the corresponding highlight.
       (The second condition will guarantee an adequate contrast with white.)
     */

  --chaptertoc: #00693e;
  --chaptertoctext: #f7f7f7;
  --chaptertocactive: #e2e2e2;   /* often the same as documenttitle */
  --chaptertoctextactive: #00693e;
  --sectiontoc: #f7f7f7;   /* can also write it as #ffffff  */
  --sectiontoctext: #12312b;
  --sectiontocactive: #003c73;   /* often the same as documenttitle */
  --sectiontoctextactive: #f7f7f7;
  --tocborder: #12312b;

  --highlighttoc: #e2e2e2;   /* often a dark version of documenttitle */
  --highlighttoctext: #00693e;
  --highlighttocborder: #12312b;

  --videoplay: var(--bodytitle);
  --assemblagebackground: #f5f8ff;
  --assemblagebackground: #F0EAF6;
  --assemblageborder: #5B2F82;
  --assemblageborder: #B793D7;
  --assemblageborder: #CAAEE0;
  --assemblagedarkborder: #472664;

  --knowlborder: var(--bodytitlehighlight);
  --knowlbackground: var(--assemblagebackground);
}

